@mixin mobile {
    @media (max-width: 576px) { @content; }
  }
  @mixin tablet {
    @media (min-width: 768px) { @content; }
  }
  @mixin desktop {
    @media (min-width: 900px) { @content; }
  }
  @mixin desktop-large {
    @media (min-width: 1200px) { @content; }
  }

.container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;

    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }


    figure.product-container {
        background-color: #fff;
        padding: 1rem 1rem;
        box-shadow: 2px 2px 2px rgba(133, 133, 133, .1);
        margin: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: nowrap;
        align-self: flex-end;

        img {
            max-width: 100%;
        }
    
        figcaption {
            color: #000;
        text-align: center;
        padding-top: 10px;

            &.big-blanket {
                text-decoration: underline;
            }
        }
    }
}

.knittypecontainer {
    text-align: center;

    label {
        font-size: 3vw;
    }

    .option {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        position: relative;
        border: 1px solid rgba(70, 111, 91, .1);
        border-radius: 3px;

        &.selected {
            background-color: rgba(70, 111, 91, .2);
                &:after {
                    width: 100%;
                }
        }

        &:after {
            left: 10px;
            content: "";
            position: absolute;
            width: 0%;
            height: 100%;
            background-color: rgba(70, 111, 91, 0.1);
            transition: width .5s ease;
            border-radius: 3px;
        }

        &:hover {
            &:after {
                width: 100%;
                transition: width .5s ease;
            }
        }
    }

    .option:hover {
        cursor: pointer;
    }
}

.languagepicker {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}



